
<h2><%= @game.healer.name %> the Hippy is healing <%= @game.receiver.name %> the Hippy</h2>
<h3><%= @game.healer.name %>'s HP: <%= @game.healer.hp %></h3>
<h3><%= @game.receiver.name %>'s HP: <%= @game.receiver.hp %></h3>
<form action="/validate">
  <input type="submit" value="Validate" />
</form>
